name: "Lint, test and build package with examples"

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  code_quality:
    runs-on: ubuntu-latest
    steps:
      - uses: lukzmu/reusable-actions/setup-python@v1
      - uses: lukzmu/reusable-actions/code-quality@v1
        with:
          main-module: resume_builder

